@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav ul li {
  @apply m-2 sm:m-2 sm:p-2 self-center text-center
}

nav ul li:hover, .link:hover {
    opacity: 0.8;
    transition: 100ms;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* This prevents horizontal scrolling */
}

main {
  min-height: 100vh;
  @apply p-6 sm:p-8 md:p-24
}

.profile-picture {
  border-radius: 50%;
}

h1 {
  font-size: x-large;
}

h2 {
  font-weight: lighter;
  font-size: large;
}

.product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  height: 3em;
  max-height: 3em;
}

.studio-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  height: 1.5em;
  max-height: 1.5em;
}

/* .currentPage {
  font-weight: bolder;
}

.notCurrentPage:hover {
  opacity: 0.5;
  transition: 500ms;
} */

.cards {
  @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 
}

.professionals {
  @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3
}

p {
  margin-bottom: 2rem;
  font-size: large;
}

.link {
  text-decoration: underline;
}

.submit-button {
  background-color: rgb(114, 176, 102);
  padding: 10px 20px; /* Add some padding for a better look */
  border-radius: 5px; /* Rounded corners for a softer appearance */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth hover effect */
  @apply max-sm:w-full;
}

button.submit-button {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 33%;
  @apply max-sm:w-3/5;
}

.submit-button:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
}

.box, input, select, option, textarea, button{
  @apply space-x-4 m-2 p-4 rounded-xl
}

.box-item {
  @apply space-y-4 m-4 p-6 max-sm:mx-0 max-sm:p-6;
}

.box-item:hover {
  .box-item-image {
    transform: scale(1.015);
    transition: transform 0.1s ease-in-out;  }
}

.wide-form {
  @apply flex flex-col w-full xl:w-1/2 mx-auto
}

.form-title {
  @apply self-center mb-12
}

.editable-input {
  font-weight: bold;
}

.editable-input:hover {
  transition: 500ms;
  @apply bg-gray-300
}

.item {
  @apply flex max-lg:flex-col max-lg:py-6 max-lg:space-y-4 lg:space-x-4 bg-white rounded-xl p-6 sm:p-12;
}

.is-active {
  @apply bg-gray-400 rounded-md
}

.login-signup {
  @apply xl:w-2/5 mx-auto flex flex-col
}

.about-us > p {
  font-size: x-large;
}