@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul li {
  align-self: center;
  @apply m-2 sm:m-4
}

nav ul li:hover, .link:hover {
    opacity: 0.5;
    transition: 500ms;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* This prevents horizontal scrolling */
}

main {
  min-height: 100vh;

  @apply p-6 sm:p-8 md:p-24
}

.profile-picture {
  border-radius: 50%;
}

h1 {
  font-size: x-large;
}

h2 {
  font-weight: lighter;
  font-size: large;
}

.item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  height: 3em;
  max-height: 3em;
}

.studio-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  height: 1.5em;
  max-height: 1.5em;
}

/* .currentPage {
  font-weight: bolder;
}

.notCurrentPage:hover {
  opacity: 0.5;
  transition: 500ms;
} */

.cards {
  @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 
}

.professionals {
  @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3
}

p {
  margin-bottom: 2rem;
  font-size: large;
}

.link {
  text-decoration: underline;
}

.submit-button {
  /* @apply bg-gray-300; */
  /* border: 1px solid gray; */
  background-color: rgb(114, 176, 102);
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.box, input, select, option, textarea, button{
  @apply space-x-4 m-2 p-4 rounded-xl
}

.box-item {
  @apply space-y-4 m-5 p-8
}

form {
  @apply flex flex-col w-full md:w-1/2  mx-auto
}

.form-title {
  @apply self-center mb-12
}

.editable-input {
  font-weight: bold;
}

.editable-input:hover {
  transition: 500ms;
  @apply bg-gray-300
}
